@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;800&display=swap');

body {
    font-family: 'Khula', sans-serif !important;
}

.bg-black {
    background-color: #1f1e29;

}

.title {
    font-weight: 800;
    font-size: 33px;
}

.paragraph {
    font-weight: 400;
    font-size: 18px;
}

.gray {
    color: #bbbbbe;
}

.white {
    color: white !important;
}

.logo {
    width: 90px;
    height: auto;
}

.img-shiba {
    width: 360px;
    height: auto;
}

#particles-js {
    height: 100%;
    background-color:#1f1e29;
}

.bg-icon {
    background-color:#18171f;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin-left: 10px;
}

.icon-section-one {
    width: 50px;
    height: auto;
    padding-bottom: 15px;
}

.icons i {
    color: #b5b3b3;
    border: 1px solid #b5b3b3;
    padding: 6px;
    margin-left: 4px;
    border-radius: 5px;
    cursor: pointer
}

.activity-done {
    font-weight: 600
}

.list-group li {
    margin-bottom: 12px
}

.list-group-item {}

.list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #18171f;
    margin-top: 12px;
    border-radius: 5px;
    background: #18171f;
}

.checkicon {
    color: green;
    font-size: 19px
}