@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;800&display=swap');

body {
    font-family: 'Khula', sans-serif !important;
}

.bg-black {
    background-color: #1f1e29;

}

.title {
    font-weight: 800;
    font-size: 33px;
}

.paragraph {
    font-weight: 400;
    font-size: 18px;
}

.gray {
    color: #bbbbbe;
}

.white {
    color: white !important;
}

.logo {
    width: 90px;
    height: auto;
}

.img-shiba {
    width: 360px;
    height: auto;
}

#particles-js {
    height: 100%;
    background-color:#1f1e29;
}

.bg-icon {
    background-color:#18171f;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin-left: 10px;
}

.icon-section-one {
    width: 50px;
    height: auto;
    padding-bottom: 15px;
}